/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.blue {
    background-color: blue;
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.green {
    background-color: green;
    color: white;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    font-size: 0.5em;
}